.App {
  text-align: center;
}
.appbar{
  height: 70px;
  background-color: #ffffff !important;
}
.toolbar{
  width:100px;
  height:70px;
}
.logo-img{
  width:100%;
}
.formHeader{
  width: 100%;
  height: 150px;
  background-color: #08123B;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formHeader h1{
  font-weight: 500;
  color:#ffffff;
}

.form-container{
  margin-top:30px;
}